<li>
    <a href="/MVC05ModelValidation" class="nav-link">ModelValidation</a>
</li>
<li>
    <a href="/MVC06Section" class="nav-link">Section</a>
</li>
<li>
    <a href="/MVC07Partial" class="nav-link">Partial</a>
</li>
<li>
    <a href="/MVC08ViewResults" class="nav-link">ViewResults</a>
</li>
<li>
    <a href="/MVC09FileUpload" class="nav-link">FileUpload</a>
</li>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Diğer Konular
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/MVC10Cookie">MVC Cookies</a></li>
        <li><a class="dropdown-item" href="/MVC11Sessions">MVC Sessions</a></li>
        <li><a class="dropdown-item" href="/MVC12StringFormat">String Formatlama</a></li>
        <li><a class="dropdown-item" href="/MVC13AppSetting">App Settings</a></li>
        <li><a class="dropdown-item" href="/MVC14Filters">Filters Kullanımı</a></li>
    </ul>
</div>