<li>
    <a href="/MVC05ModelValidation" class="nav-link">ModelValidation</a>
</li>
<li>
    <a href="/MVC06Section" class="nav-link">Section</a>
</li>
<li>
    <a href="/MVC07Partial" class="nav-link">Partial</a>
</li>
<li>
    <a href="/MVC08ViewResults" class="nav-link">ViewResults</a>
</li>
<li>
    <a href="/MVC09FileUpload" class="nav-link">FileUpload</a>
</li>
