
@{
    ViewBag.Title = "MVC View Results Çeşitleri";
}

<h2>MVC View Results Çeşitleri</h2>

<p>
    MVC de Controller da kullandığımız ActionResult metotları sadece tek bir işlev görmez birden fazla işlem yapar bunlar;
</p>

