
@{
    ViewBag.Title = "MVC de Cookie - Çerez Kullanımı";
}

<h2>MVC de Cookie - Çerez Kullanımı</h2>

<p>
    Cookie kavramı Mvc ye özel bir yapı değildir web dünyasının genelinde vardır.
</p>

<p>
    Çerezler kullanıcının cihazında saklanan küçük verilerdir.
</p>

<p>
    Güvenlik gerektiren kullanıcı adı, email, şifre vb gibi verileri çerezde tutmamak gerekir.
</p>

<p>
    Uygulamaya giriş yapak kullanıcıyı tanımak ve sonraki girişlerinde hatırlamak gibi işlemler için sıklıkla kullanılır.
</p>

@Html.ActionLink("Cookie Olustur", "CookieOlustur")