
@{
    ViewBag.Title = "MVC WebConfig den Veri Okuma";
}

<h2>MVC WebConfig den Veri Okuma</h2>

<p>
    Uygulamadaki Web.Config dosyasına ayar ekleyip onu okumak için kullanırız.
</p>

<p>
    E mail kullanıcı adı : @ViewBag.Usr
</p>

<p>
    E mail şifresi : @ViewBag.Pwd
</p>