
@{
    ViewBag.Title = "MVC Partial Kullanımı";
}

<h2>MVC Partial Kullanımı</h2>

<p>
    MVC de sayfaları parçalara ayırıp kod kalabalıklığını önlemek veya sayfaları kolay yönetmek gibi işler için partial yapısını kullanıyoruz.
</p>