
@{
    ViewBag.Title = "MVC05 Model Validation";
}

<h2>MVC05 Model Validation</h2>

<p>
    Model Validation MVC de model class larının boş geçilemez, karakter uzunluk sınırı vb gibi doğrulama işlemlerini yapmamızı sağlayan yapıdır.
</p>